@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
}

.nav {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 250px;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
    font-style: italic;
}

.nav-links a,
#hero p {
    font-size: 18px;
    color: #E5E7EB;
}
.nav-right, .nav-left {
    align-items: center;
}

#hero {
    background-color: #1F2937;
    display: flex;
    padding: 90px 250px;
    align-items: center;
    gap: 50px;
}

#hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0px;
}

#hero img {
    width: 500px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 12px 30px;
    border-radius: 12px;
}

#hero p a {
    font-size: 18px;
    color: #F9FAF8;
    font-style: italic;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

#products {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    padding-bottom: 142px;
}

.product {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 50px 250px;
}

.product img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

#products .product a {
    text-decoration: underline;
    font-style: italic;
    color: #1F2937;
}

#products .product p {
    text-align: center;
    max-width: 200px;
    align-self: center;
}

.product-description {
    margin-top: -5px;
}

.product-caption {
    font-size: 15px;
}

#about-us {
    background-color: #E5E7EB;
    padding: 90px 250px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-weight: 800;
    text-align: right;
    margin-right: 30px;
}

#contact {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 150px;
    margin: 100px 250px;
    color: white;
    border-radius: 12px;
}

h3 {
    font-size: 24px;
    margin-bottom: -8px;
}

#contact .left,
#contact .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact button {
    border: 2px solid white;
}

#footer {
    background-color: #1F2937;
    padding: 30px;
    text-align: center;
    color: white;
}

#footer a {
    color: white;
}